{% extends "base.html" %}

{% block contents %}
    <h1 class="header">TV Shows</h1>
    
    <table class="list tiles">
        {% for show in shows %}
            {% if show.unwatched_episodes.count %}
                <tr>
                    <td class="tile" url="/tvshows/{{ show.id }}/">
                        <span style="font-size: 70%; float: right; margin-top: 0.3em">{{ show.unwatched_episodes.count }}</span>

                        <span style="margin-right: 3em">{{ show.name|title }}</span>
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
{% endblock %}