{% extends "base.html" %}

{% block contents %}
    <h1 class="header">TV Shows</h1>
    <table class="list tiles">
        {% if suggested_shows %}
            <tr>
                <td class="label">Found new shows:</td>
            </tr>

            {% for suggested_show in suggested_shows %}
                <tr>
                    <td class="label">{{ suggested_show.name|title }}</td>
                </tr>
                <tr>
                    <td class="tile" url="/tvshows/suggested/{{ suggested_show.id }}/add/erase/">Add <span class="explanation">(and remove watched)</span></td>
                    <td class="tile" url="/tvshows/suggested/{{ suggested_show.id }}/add/keep/">Add <span class="explanation">(and keep all)</span></td>
                    <td class="tile" url="/tvshows/suggested/{{ suggested_show.id }}/ignore/">Ignore</td>
                </tr>
            {% endfor %}

            <tr>
                <td>&nbsp;</td>
            </tr>
        {% endif %}

        {% include "list_data.html" %}
    </table>
{% endblock %}