{% extends "base.html" %}

{% block contents %}
    <h1 class="header">{{ show.name|title }}</h1>
    
    <table class="list tiles">
        {% for episode in show.unwatched_episodes %}
            {% ifchanged episode.season %}
                <tr>
                    <td class="label">
                        Season {{ episode.season }}
                    </td>
                </tr>
            {% endifchanged %}
            <tr>
                <td class="tile" url="/tvshows/{{ show.id }}/{{ episode.id }}/">
                    {% if not episode.episode %}
                        {{ episode.aired }}{% if episode.name %} - {{ episode.name|safe }}{% endif %}
                    {% else %}
                        {{ episode.episode }}{% if episode.name %}. {{ episode.name|safe }}{% endif %}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}