@media only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min-device-pixel-ratio: 2) {

.header {
    left: 90px;
    top: 23px;
    font-size: 35px;
}

td {
    font-size: 15px;
}

.tiles {
    border-spacing: 5px;
    top: 60px;
    left: 100px;
}

.tile {
    padding: 10px 16px;
}

.tiles th, .tiles .label, input {
    font-size: 18px;
}

#back_link {
    top: 5px;
    left: 5px;
    width: 30px;
    height: 30px;
}

#clock {
    top: 3px;
    right: 5px;
    font-size: 20px;
}

/*
Metro style imitation
*/

#home {
    width: 282px;
    max-height: 254px;
}

.tiles {
    -webkit-perspective: 1900px;
}

.tile {
    font-size: 15px;
    padding: 8px 10px;
}

.big_tiles td, .big_tile {
    width: 200px;
    height: 200px;
}

.list .main_info {
    margin-right: 3em;
}

.content {
    padding: 22px 38px 22px 38px;
}

h1 {
    font-size: 22px;
    margin: 0 0 10px;
}

h2 {
    font-size: 17px;
    margin: 0 0 20px;
}

.big_icon {
    width: 80px;
}

} /* end retina section */