html {
    height: 100%;
}

h1 {
    font-weight: lighter;
}

body {
    font-family: century gothic;
    /*
     candara
    */
    border: 0;
    padding: 0;
    margin: 0;
    height: 100%;
    background: -webkit-gradient(linear, left top, right top, from(#3b1048), to(#470e48));
}

.header {
    color: white;
    position: absolute;
    left: 180px;
    top: 45px;
    font-size: 45px;
}

td h1 {
    font-size: 45px;
}

td {
    font-size: 30px;
    color: white;
    vertical-align: top;
}

#tiles .focus, #tiles .tile:hover {
    background: -webkit-gradient(linear, left top, right top, from(#23B4A9), to(#188E86));
}

.dash {
    position: absolute;
    top: 150px;
    left: 150px;
    background: -webkit-gradient(linear, left top, right top, from(#0159a3), to(#004278));
    padding: 30px;
}

.dash td h1 {
    font-size: 90px;
    margin-top: 0;
}

.dash td {
    font-size: 150%;
}

.tile.list {
    position: absolute;
    top: 135px;
    left: 150px;
    border-spacing: 15px;
}

.tile.list td {
    cursor: pointer;
}

#tiles {
    border-spacing: 75px;
    position: absolute;
    top: 0;
    left: 0;
}

#tiles.list {
    border-spacing: 15px;
    top: 160px;
    left: 160px;
    width: auto;
}

#tiles td {
    background: -webkit-gradient(linear, left top, right top, from(#6b1d57), to(#7d2764));
    cursor: pointer;
    white-space: nowrap;
}

#tiles.list td {
    padding: 10px 16px;
}

#tiles th {
    background: transparent;
    cursor: default;
    font-size: 35px;
    color: white;
    font-weight: normal;
}

#back_link {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 60px;
    height: 60px;
    opacity: 0;
}

#clock {
    position: fixed;
    top: 5px;
    right: 5px;
    color: white;
    font-size: 30px;
}

/*
Metro style imitation
*/

#home {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 564px;
    height: 100%;
    max-height: 508px;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition-timing-function: ease-in-out;
}

.header {
    opacity: 0;
    -webkit-transition-duration: 700ms;
}

#tiles {
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-perspective: 3800px;
}

.tile {
    position: relative;
    cursor: pointer;
    white-space: nowrap;
    font-size: 30px;
    color: white;
    vertical-align: top;
    background: -webkit-gradient(linear, left top, right top, from(#6b1d57), to(#7d2764));
}

.big_tile {
    width: 400px;
    height: 400px;
    vertical-align: bottom;
}

.content {
    padding: 45px 75px 45px 75px;
}

h1 {
    font-size: 45px;
    margin: 0 0 20px;
}

.tile {
    -webkit-transform: translate3d(0,0,0) rotateY(90deg);
    opacity: 0;
}

/*
 Colors:
 bg: #360a3f -> #431963
 #6b1d57 -> #7d2764
 #25aea4
 #466ecd
 #89a007
 #dd9100
 #e84f0b
 #0159a3
*/