html {
    height: 100%;
}

body {
    font-family: century gothic, segoe ui, verdana, arial, sans-serif;
    border: 0;
    padding: 0;
    margin: 0;
    height: 100%;
    background: -webkit-gradient(linear, left top, right top, from(#3b1048), to(#470e48));
}

.header {
    color: white;
    position: absolute;
    left: 180px;
    top: 45px;
    font-size: 70px;
}


td {
    font-size: 30px;
    color: white;
    vertical-align: top;
}

.tile.focus {
    background: -webkit-gradient(linear, left top, right top, from(#23B4A9), to(#188E86));
}

.tiles {
    border-spacing: 10px;
    position: absolute;
    top: 160px;
    left: 160px;
}

.tile {
    background: -webkit-gradient(linear, left top, right top, from(#6b1d57), to(#7d2764));
    cursor: pointer;
    white-space: nowrap;
    padding: 10px 16px;
}

.tiles th, .tile.label {
    background: transparent;
    cursor: default;
    font-size: 35px;
    color: white;
    font-weight: normal;
    text-align: left;
}

#back_link {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 60px;
    height: 60px;
    opacity: 0;
}

#clock {
    position: fixed;
    top: 5px;
    right: 5px;
    color: white;
    font-size: 30px;
}

/*
Metro style imitation
*/

#home {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 564px;
    height: 100%;
    max-height: 508px;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition-timing-function: ease-in-out;
}

.header {
    opacity: 0;
}

.tiles {
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-perspective: 3800px;
}

.tiles td {
    -webkit-transform: translate3d(0,0,0) rotateY(150deg);
}

.tile {
    position: relative;
    cursor: pointer;
    white-space: nowrap;
    font-size: 30px;
    color: white;
    vertical-align: top;
    background: -webkit-gradient(linear, left top, right top, from(#6b1d57), to(#7d2764));
    padding: 15px 20px;
    opacity: 0;
}

.big_tiles td, .big_tile {
    width: 400px;
    height: 400px;
    vertical-align: bottom;
    text-align: center;
}

.content {
    padding: 45px 75px 45px 75px;
}

h1 {
    font-size: 45px;
    margin: 0 0 20px;
}

h2 {
    font-size: 35px;
    margin: 0 0 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: lighter;
}

.fullscreen {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.explanation {
    font-size: 60%;
}

.big_icon {
    width: 160px;
}

/*
 Colors:
 bg: #360a3f -> #431963
 #6b1d57 -> #7d2764
 #25aea4
 #466ecd
 #89a007
 #dd9100
 #e84f0b
 #0159a3
*/