{% extends "base.html" %}

{% block contents %}
    <div class="fullscreen tiles">
        <h1 class="header">Weather</h1>

        <div class="">
            {{ weather.temp }}&deg;<br />
            {{ weather.humidity }}%<br />
        </div>

        <table class="tiles">
            <tr>
                {% for forecast in weather.forecasts %}
                    <td class="tile">
                        <h1>{{ forecast.day_of_week }} {{ forecast.date }}</h1>
                        {% if forecast.icon %}
                            <img style="width: 150px; text-align: center;" src="{{ forecast.icon }}" />
                        {% endif %}
                        <h1>{{ forecast.high }}&deg;</h1>
                        {{ forecast.condition }} <br />
                        {{ forecast.low }}&deg; Low<br />
                    </td>
                {% endfor %}
            </tr>
        </table>
    </div>
{% endblock %}