{% if not ajax %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}CMi{% endblock %}</title>
        <style type="text/css" title="currentStyle">
            @import "/site-media/style2.css";
            @import "/site-media/style2-retina.css";
        </style>
        <script src="/site-media/jquery-1.7.1.min.js"></script>
        <script src="/site-media/jquery.intoViewport.min.js"></script>
        <script src="/site-media/grid_navigation.js"></script>
        <script src="/site-media/cmi.js"></script>
    </head>
    
    <body>
        {% include "back_button.html" %}
        
        <div id="clock"></div>
        
{% endif %}
        {% block contents %}<div class="contents"></div>{% endblock %}
{% if not ajax %}
    </body>
</html>
{% endif %}