{% extends "base.html" %}

{% block contents %}
    <table id="tiles">
        <tr>
            <td class="tile big_tile" url="/tvshows/">
                <div class="content">
                    <img src="/site-media/tv.svg" style="padding-bottom: 15px; padding-left: 40px"/>
                    <h1>TV Shows</h1>
                    {{ new_episodes }} new episodes
                </div>
            </td>
            <td class="tile big_tile" url="/movies/">
                <div class="content">
                    <img src="/site-media/movie.svg" style="padding-bottom: 15px; padding-left: 40px; width: 160px;"/>
                    <h1>Movies</h1>
                    {{ new_movies }} new / {{ total_movies }} total
                </div>
            </td>
            <td class="tile big_tile" url="/weather/">
                {% if weather.current_conditions.icon %}
                    <img style="width: 45%; left: 100px; position: absolute; top: 50px;" src="{{ weather.current_conditions.icon }}" />
                {% endif %}
                <div class="content">
                    <h1>Weather</h1>
                    {% if weather %}
                        {{ weather.current_conditions.temp_c }}&deg;
                    {% endif %}
                </div>
            </td>
        </tr>
        <tr>
            {% if new_shows %}
                <td class="tile big_tile" url="/tvshows/suggested/">
                    <div class="content">
                        <h1>New TV Shows</h1>
                        {{ new_shows }} new shows
                    </div>
                </td>
            {% endif %}
            <!-- 
            <td url="/telldus/2/off">
                TV Off
            </td>
             -->
        </tr>
    </table>


{% endblock %}