{% extends "base.html" %}

{% block contents %}
    <table class="tiles big_tiles">
        <tr>
            <td class="tile" url="/tvshows/">
                <img src="/site-media/tv.svg" style="width: 160px;"/>
                <div class="content">
                    <h1>TV Shows</h1>
                    {{ new_episodes }} new episodes
                </div>
            </td>
            <td class="tile" url="/movies/">
                <img src="/site-media/movie.svg" style="width: 160px;"/>
                <div class="content">
                    <h1>Movies</h1>
                    {{ new_movies }} new / {{ total_movies }} total
                </div>
            </td>
            <td class="tile" url="/weather/">
                {% if weather.current_conditions.icon %}
                    <img src="{{ weather.current_conditions.icon }}" style="width: 160px;"/>
                {% endif %}
                <div class="content">
                    <h1>Weather</h1>
                    {% if weather %}
                        {{ weather.current_conditions.temp_c }}&deg;,
                        {{ weather.current_conditions.humidity }}
                    {% endif %}
                </div>
            </td>
        </tr>
        <tr>
            {% if new_shows %}
                <td class="tile" url="/tvshows/suggested/">
                    <div class="content">
                        <h1>New TV Shows</h1>
                        {{ new_shows }} new shows
                    </div>
                </td>
            {% endif %}
            <!-- 
            <td url="/telldus/2/off">
                TV Off
            </td>
             -->
        </tr>
    </table>


{% endblock %}