{% extends "base.html" %}

{% block contents %}
    <h1 class="header">{{ title }}</h1>
    
    <table class="list tiles">
        {% for row in rows %}
            <tr>
                {% for item in row %}
                    {% if item %}
                        <td class="tile" {% if item.url %}url="{{ item.url }}/"{% endif %} {% if item.command %}command="{{ item.command }}/"{% endif %}>
                            <span class="extra_info">{{ item.extra }}</span>

                            <span class="main_info">{{ item }}</span>
                        </td>
                    {% else %}
                        <td></td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}

        {% for item in items %}
            <tr>
                <td class="tile" {% if item.url %}url="{{ item.url }}/"{% endif %} {% if item.command %}command="{{ item.command }}/"{% endif %}>
                    <span class="extra_info">{{ item.extra }}</span>

                    <span class="main_info">{{ item }}</span>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}