{% extends "base.html" %}

{% block contents %}
    <h1 class="header">Suggested TV Shows</h1>
    
    <table class="list tiles">
        {% for suggested_show in suggested_shows %}
            <tr>
                <th class="tile">{{ suggested_show.name|title }}</th>
                <td class="tile" url="/tvshows/suggested/{{ suggested_show.id }}/add/">Add</td>
                <td class="tile" url="/tvshows/suggested/{{ suggested_show.id }}/ignore/">Ignore</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}